notes.txt
out.txt
__pycache__/
metalinjection.html
spotify-private.py
.cache-maharshall
info.txt
decibel.html
metalstorm.html
metalarchives.html
metalarchives_files/
.gitignore
chromedriver.exe
geckodriver.log
testing.py
output.txt
